<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="max-w-5xl w-full flex bg-white rounded-2xl shadow-xl overflow-hidden m-4">

    <div class="hidden lg:flex w-1/2 bg-blue-600 p-12 flex-col justify-between text-white">
      <div>
        <div class="flex items-center gap-2 mb-8">
          <div class="w-10 h-10 bg-white rounded-lg flex items-center justify-center">
            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
            </svg>
          </div>
          <span class="text-2xl font-bold tracking-tight">SpringRecruit</span>
        </div>

        <h1 class="text-4xl font-extrabold leading-tight mb-4">
          Encuentra el talento <br> que tu empresa merece.
        </h1>
        <p class="text-blue-100 text-lg">
          La plataforma líder en reclutamiento inteligente
        </p>
      </div>

      <div class="mt-auto">
        <p class="text-sm text-blue-200">
          © 2026 SpringRecruit Inc. Todos los derechos reservados.
        </p>
      </div>
    </div>

    <div class="w-full lg:w-1/2 p-8 md:p-12 lg:p-16">
      <div class="max-w-md mx-auto">
        <h2 class="text-3xl font-bold text-gray-800 mb-2 text-center">Registrate Candidato</h2>
        <p class="text-gray-500 mb-8 text-center">Crea una cuenta y comienza a postularte</p>

        <form action="#" class="space-y-3" [formGroup]="formRegisterCandidate" (ngSubmit)="onSubmit()">
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Nombre(s)</label>
            <input type="email" placeholder="Nombre tuyo"
                   formControlName="nameCandidate"
                   class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-all">
            @if (formValidatorService.isValidField("nameCandidate", formRegisterCandidate)) {
              <span
                class="text-sm text-red-500 font-semibold">{{ formValidatorService.getFieldErros("nameCandidate", formRegisterCandidate) }}</span>
            }
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Apellidos</label>
            <input type="email" placeholder="Apellidos tuyos"
                   formControlName="lastnameCandidate"
                   class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-all">
            @if (formValidatorService.isValidField("lastnameCandidate", formRegisterCandidate)) {
              <span
                class="text-sm text-red-500 font-semibold">{{ formValidatorService.getFieldErros("lastnameCandidate", formRegisterCandidate) }}</span>
            }
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Telefono</label>
            <input type="email" placeholder="ej: 5512584725"
                   formControlName="cellphone"
                   class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-all">
            @if (formValidatorService.isValidField("cellphone", formRegisterCandidate)) {
              <span
                class="text-sm text-red-500 font-semibold">{{ formValidatorService.getFieldErros("cellphone", formRegisterCandidate) }}</span>
            }
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Dirección</label>
            <input type="email" placeholder="ej: Calle Juan Marquez No. 15, CMDX"
                   formControlName="address"
                   class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-all">
            @if (formValidatorService.isValidField("address", formRegisterCandidate)) {
              <span
                class="text-sm text-red-500 font-semibold">{{ formValidatorService.getFieldErros("address", formRegisterCandidate) }}</span>
            }
          </div>



          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Correo electrónico</label>
            <input type="email" placeholder="ejemplo@empresa.com"
                   formControlName="email"
                   class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-all">
            @if (formValidatorService.isValidField("email", formRegisterCandidate)) {
              <span
                class="text-sm text-red-500 font-semibold">{{ formValidatorService.getFieldErros("email", formRegisterCandidate) }}</span>
            }
          </div>

          <div>
            <div class="flex justify-between mb-1">
              <label class="text-sm font-medium text-gray-700">Contraseña</label>
              <a href="#" class="text-sm text-blue-600 hover:underline">¿Olvidaste tu contraseña?</a>
            </div>
            <input type="password" placeholder="••••••••"
                   formControlName="password"
                   class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-all">
            @if (formValidatorService.isValidField("password", formRegisterCandidate)) {
              <span
                class="text-sm text-red-500 font-semibold">{{ formValidatorService.getFieldErros("password", formRegisterCandidate) }}</span>
            }
          </div>


          <button type="submit"
                  class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-lg transition-colors shadow-lg shadow-blue-200">
            Iniciar sesión
          </button>

          @if (successMessage()) {
            <div
              class="border-2 px-2 py-2 rounded-xl font-semibold text-green-600 bg-green-100  border-green-600 text-center text-sm">{{ successMessage() }}
            </div>
          }

          @if (errorMessage()) {
            <div class="border-2 px-2 py-2 text-sm text-red-500 text-center rounded-xl">{{ errorMessage() }}</div>
          }
        </form>

        <div class="mt-4 pt-4 border-t border-gray-100 text-center">
          <p class="text-gray-600">
            ¿Ya tienes una cuenta?
          </p>
          <div class="flex md:flex-col">
            <a
              routerLink=""
              class="text-blue-600 font-semibold hover:underline cursor-pointer">Inicar Sesión</a>
            <a
              routerLink="/register/recruiter"
              href="#" class="text-blue-600 font-semibold hover:underline">Regístrate gratis como Reclutador</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
