<div class="flex items-start gap-4">
  <div class="h-14 w-14 flex-shrink-0">
    <img
      class="rounded-full h-full w-full object-cover border-2 border-gray-100 shadow-sm"
      [src]="applicationCandidate()?.imgProfileCandidate || 'https://ui-avatars.com/api/?name=' + applicationCandidate()?.nameCandidate + '&background=DBEAFE&color=1D4ED8'"
      alt="Imagen de perfil">
  </div>

  <div class="flex-1">
    <div class="flex items-start justify-between">
      <div>
        <h4 class="font-semibold text-blue-700">
          {{ applicationCandidate()?.nameCandidate }} {{ applicationCandidate()?.surnameCandidate }}
        </h4>
        <p class="text-sm text-gray-600 mt-1">
          {{ applicationCandidate()?.nameVacancy }}
        </p>
      </div>
      <div
        [class]="'px-2.5 py-0.5 rounded-full text-xs font-medium border ' + applicationService.getColorStatusApplication(applicationCandidate()?.statusApplication)">
        {{ applicationService.getStatusApplicationText(applicationCandidate()?.statusApplication) }}
      </div>
    </div>

    <div class="mt-3 grid gap-2 sm:grid-cols-2 text-sm text-gray-600">
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
          <path
            d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-400L480-360 160-640v400Zm320-120 320-200v-80L480-360 160-560v80l320 200ZM160-640v-80 480-400Z"/>
        </svg>
        {{ applicationCandidate()?.emailCandidate }}
      </div>
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
          <path
            d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-387q31 31 65.5 58.5T524-281l106-106q9-9 20-13t22-2l152 31q13 3 22.5 13t9.5 25v162q0 18-12 30t-30 12Z"/>
        </svg>
        {{ applicationCandidate()?.cellphoneCandidate }}
      </div>
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
          <path
            d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T720-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/>
        </svg>
        Aplicó el {{ applicationCandidate()?.applicationDate | date }}
      </div>
    </div>

    <div class="flex gap-2 my-3 ml-auto">
      <a [href]="applicationCandidate()?.urlCV" class="bg-gray-200 px-3 py-1 text-sm rounded-lg cursor-pointer hover:bg-gray-300">
        <div class="flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
            <path
              d="M320-400h320v-80H320v80Zm0-120h320v-80H320v80Zm0-120h160v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/>
          </svg>
          <span>Ver CV</span>
        </div>
      </a>
      @if (applicationCandidate()?.statusApplication !== "REJECTED") {
        <button (click)="accepApplication(applicationCandidate()!.idApplication)" type="button" class="bg-green-200 px-3 py-1 text-sm rounded-lg cursor-pointer hover:bg-green-300">
          <div class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" width="24px" height="24px">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
            </svg>
            <span>Aceptar</span>
          </div>
        </button>
        <button (click)="rejectApplication(applicationCandidate()!.idApplication)" type="button" class="bg-red-200 px-3 py-1 text-sm rounded-lg cursor-pointer hover:bg-red-300">
          <div class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" width="24px" height="24px">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
            <span>Rechazar</span>
          </div>
        </button>
      }
    </div>
  </div>
</div>
