<h2 mat-dialog-title>Publicar Nuevo Trabajo</h2>

<mat-dialog-content>
  <p class="text-gray-700 text-sm mb-3">
    Completa la información para crear una nueva oferta de trabajo
  </p>
  <div class="overflow-y-scroll min-h-96 p-3">
    <form class="space-y-2" [formGroup]="formSaveVacancy" (ngSubmit)="onSubmit()">
      <div>
        <label class="font-semibold mt-3">
          Título del puesto <span class="text-red-600">*</span>
        </label>
        <input formControlName="name" type="text" placeholder="Nombre del puesto" class="border p-2 w-full mt-1">
        @if (formValidatorService.isValidField("name", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("name", formSaveVacancy)}}</span>
        }
      </div>
      <div>
        <label class="font-semibold">Descripción del puesto</label>
        <textarea formControlName="description" class="border p-2 w-full mt-1" placeholder="Descripción del puesto" [rows]="5"></textarea>
        @if (formValidatorService.isValidField("description", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("description", formSaveVacancy)}}</span>
        }
      </div>
      <div>
        <label class="font-semibold">Localización del puesto</label>
        <input formControlName="location" type="text" placeholder="CDMX, GDL, QRO" class="border p-2 w-full mt-1">
        @if (formValidatorService.isValidField("location", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("location", formSaveVacancy)}}</span>
        }
      </div>
      <div>
        <label class="font-semibold">Salario</label>
        <input formControlName="salary" type="text" placeholder="Pesos Méxicanos" class="border p-2 w-full mt-1">
        @if (formValidatorService.isValidField("salary", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("salary", formSaveVacancy)}}</span>
        }
      </div>
      <div>
        <label class="font-semibold">Fecha de Termino</label>
        <input formControlName="finish_date" type="date"  class="border p-2 w-full mt-1">
        @if (formValidatorService.isValidField("finish_date", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("finish_date", formSaveVacancy)}}</span>
        }
      </div>
      <div>
        <label class="font-semibold">Requrimientos</label>
        <textarea formControlName="requirements" class="border p-2 w-full mt-1" placeholder="Lista los requerimientos por un punto final" [rows]="5"></textarea>
        @if (formValidatorService.isValidField("requirements", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("requirements", formSaveVacancy)}}</span>
        }
      </div>
      <div>
        <label class="font-semibold">Responsabilidades</label>
        <textarea formControlName="responsibilities" class="border p-2 w-full mt-1" placeholder="Lista las responsabilidades por un punto final" [rows]="5"></textarea>
        @if (formValidatorService.isValidField("responsibilities", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("responsibilities", formSaveVacancy)}}</span>
        }
      </div>
      <div>
        <label class="font-semibold">Tipo de Contrato</label>
        <select formControlName="idContract_type" class="border p-2 w-full mt-1">
          <option>--- Selecciona una opción ---</option>
          @for (ct of contracTypes(); track ct.id_contract_type) {
            <option value="{{ct.id_contract_type}}">{{ct.name_contract_type}}</option>
          }
        </select>
        @if (formValidatorService.isValidField("idContract_type", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("idContract_type", formSaveVacancy)}}</span>
        }
      </div>

      <div>
        <label class="font-semibold">Sector Industrial</label>
        <select formControlName="idIndustrialSector" class="border p-2 w-full mt-1">
          <option>--- Selecciona una opción ---</option>
          @for (iS of industrialSectors(); track iS.id_industrial_sector) {
            <option value="{{iS.id_industrial_sector}}">{{iS.name_industrial_sector}}</option>
          }
        </select>
        @if (formValidatorService.isValidField("idIndustrialSector", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("idIndustrialSector", formSaveVacancy)}}</span>
        }
      </div>

      <div>
        <label class="font-semibold">Modalidad de Trabajo</label>
        <select formControlName="idWorkModality" class="border p-2 w-full mt-1">
          <option>--- Selecciona una opción ---</option>
          @for (wm of worksModality(); track wm.id_work_modality) {
            <option value="{{wm.id_work_modality}}">{{wm.name_work_modality}}</option>
          }
        </select>
        @if (formValidatorService.isValidField("idWorkModality", formSaveVacancy)) {
          <span class="text-sm text-red-500">{{formValidatorService.getFieldErros("idWorkModality", formSaveVacancy)}}</span>
        }
      </div>

      <div>
        <mat-dialog-actions align="end">
          <button type="submit"  mat-button>Guardar</button>
          <button mat-button (click)="close()">Cerrar</button>
        </mat-dialog-actions>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  @if (isError()) {
    <span class="text-center text-lg text-red-600">{{isError()}}</span>
  } @else {
    <span class="text-center text-lg text-blue-600">{{isSuccess()}}</span>
  }
</mat-dialog-actions>


