<div class="grid gap-4 md:grid-cols-2 ">
  @for (vacancy of displayedVacancies(); track vacancy.vacancy.id_vacancy) {
    <div class="hover:shadow-md transition-shadow cursor-pointer border border-gray-400 p-3 bg-white rounded-lg">
      <div class="p-6">
        <div class="flex items-start justify-between">
          <div class="flex-1">
            <div class="flex items-start gap-3">
              <a [routerLink]="['/dashboard/recruiter/work', vacancy.vacancy.id_vacancy]"
                 class="font-semibold text-gray-900 text-lg">{{ vacancy.vacancy.name }}</a>
              <span
                [class]="getStatusVacancy(vacancy.vacancy.progressStatus.id_progress_status)"
                class="rounded-md">{{ vacancy.vacancy.progressStatus.name_progress_status }}</span>
            </div>

            <div class="mt-2 flex flex-wrap items-center gap-3 text-sm text-gray-600">
              <div class="flex gap-4">
                      <span class="h-4 w-4">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-map-pin">
                        <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/>
                        <circle cx="12" cy="10" r="3"/>
                        </svg>
                      </span>
                <span>{{ vacancy.vacancy.location }}</span>
              </div>
              <span>•</span>
              <div class="flex gap-4 items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                  <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                </svg>
                <span> {{ vacancy.vacancy.contract_type.name_contract_type }}</span>
              </div>
              <span>•</span>
              <div class="flex gap-4 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="12" cy="12" r="10"></circle>
                  <polyline points="12 6 12 12 16 14"></polyline>
                </svg>
                <span>Hace {{ getTimeAgo(vacancy.vacancy.publication_date) }} días</span>
              </div>
            </div>

            <div class="mt-4 flex items-center gap-6 text-sm">
              <div class="flex items-center gap-1 text-gray-600">
                <div class="flex gap-4">
                        <span class="h-4 w-4">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-users">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/>
                            <circle cx="9" cy="7" r="4"/>
                            <path d="M22 21v-2a4 4 0 0 0-3-3.87"/>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"/>
                          </svg>
                        </span>
                  <span class="font-medium text-gray-900">
                          {{ vacancy.totalApplications }} aplicaciones
                        </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
  <mat-paginator
    [length]="vacancies().length"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[6, 12, 24]"
    (page)="changePage($event)"
    aria-label="Seleccionar Pagina"
    class="md:col-span-2"
  ></mat-paginator>
</div>
