<div class="min-h-screen bg-gray-50">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
    <div class="space-y-6">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
        <div>
          <h2 class="text-2xl font-semibold text-gray-800">Todos los Trabajos</h2>
          <p class="text-gray-600 mt-1">Gestiona todas tus publicaciones de trabajos</p>
        </div>

        <button (click)="openModal()"
                class="bg-blue-600 hover:bg-blue-700 cursor-pointer transition-colors text-white px-3 py-2 rounded-lg font-semibold">
          Nuevo Trabajo
        </button>
      </div>

      <div class="bg-white border border-gray-200 rounded-xl px-5 py-10 shadow-sm">
        <div class="flex flex-col gap-4 lg:flex-row lg:items-center lg:justify-between">
          <div class="relative w-full lg:max-w-lg">
            <svg
              class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              fill="none"
              stroke="currentColor"
              stroke-width="2">
              <circle cx="11" cy="11" r="8"/>
              <path d="m21 21-4.3-4.3"/>
            </svg>

            <input
              type="text"
              placeholder="Buscar trabajos..."
              class="w-full pl-9 pr-3 py-2 border border-gray-300 rounded-lg text-sm
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
               transition"
            >
          </div>

          <div class="flex flex-wrap gap-4 items-center">
            <select
              class="border border-gray-300 rounded-lg px-3 py-2 text-sm bg-white min-w-[150px]
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
               cursor-pointer transition">
              <option value="">Tipo de contrato</option>
              @for (typeContract of contractTypes(); track typeContract.id_contract_type) {
                <option [ngValue]="typeContract.id_contract_type">
                  {{ typeContract.name_contract_type }}
                </option>
              }
            </select>
            <select
              class="border border-gray-300 rounded-lg px-3 py-2 text-sm bg-white min-w-[150px]
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
               cursor-pointer transition">
              <option value="">Sector industrial</option>
              @for (indusSector of industrialSertors(); track indusSector.id_industrial_sector) {
                <option [ngValue]="indusSector.id_industrial_sector">
                  {{ indusSector.name_industrial_sector }}
                </option>
              }
            </select>
            <select
              class="border border-gray-300 rounded-lg px-3 py-2 text-sm bg-white min-w-[150px]
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
               cursor-pointer transition">
              <option value="">Modalidad</option>
              @for (wM of workModalities(); track wM.id_work_modality) {
                <option [ngValue]="wM.id_work_modality">
                  {{ wM.name_work_modality }}
                </option>
              }
            </select>
            <button
              class="text-sm text-gray-500 hover:text-red-500 transition">
              Limpiar
            </button>
          </div>
        </div>
      </div>

      <div class="overflow-y-scroll max-h-[550px] p-10 border border-gray-400 rounded-lg">
        <div class="grid gap-4 md:grid-cols-2 ">
          @for (vacancy of vacancies(); track vacancy.vacancy.id_vacancy) {
            <div class="hover:shadow-md transition-shadow cursor-pointer border border-gray-400 p-3 bg-white rounded-lg">
              <div class="p-6">
                <div class="flex items-start justify-between">
                  <div class="flex-1">
                    <div class="flex items-start gap-3">
                      <a [routerLink]="['/dashboard/recruiter/work', vacancy.vacancy.id_vacancy]" class="font-semibold text-gray-900 text-lg">{{ vacancy.vacancy.name }}</a>
                      <span
                        [class]="getStatusVacancy(vacancy.vacancy.progressStatus.id_progress_status)" class="rounded-md">{{ vacancy.vacancy.progressStatus.name_progress_status }}</span>
                    </div>

                    <div class="mt-2 flex flex-wrap items-center gap-3 text-sm text-gray-600">
                      <div class="flex gap-4">
                      <span class="h-4 w-4">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-map-pin">
                        <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/>
                        <circle cx="12" cy="10" r="3"/>
                        </svg>
                      </span>
                        <span>{{ vacancy.vacancy.location }}</span>
                      </div>
                      <span>•</span>
                      <span>{{ vacancy.vacancy.contract_type.name_contract_type }}</span>
                      <span>•</span>
                      <span>Hace {{ getTimeAgo(vacancy.vacancy.publication_date) }} días</span>
                    </div>

                    <div class="mt-4 flex items-center gap-6 text-sm">
                      <div class="flex items-center gap-1 text-gray-600">
                        <div class="flex gap-4">
                        <span class="h-4 w-4">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-users">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/>
                            <circle cx="9" cy="7" r="4"/>
                            <path d="M22 21v-2a4 4 0 0 0-3-3.87"/>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"/>
                          </svg>
                        </span>
                          <span class="font-medium text-gray-900">
                          {{ vacancy.totalApplications }} aplicaciones
                        </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
